<ion-content [fullscreen]="true">
  <div class="container">
    <div class="authentication-container">
      <div class="title-container">
        <h2>Login</h2>
      </div>
      <div class="form-container">
        <form action="" [formGroup]="loginForm">
          <ion-input formControlName="email" label="Email" errorText="Invalid email" type="email" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
          <ion-input formControlName="password" label="Passwort" type="password" label-placement="floating" fill="outline" placeholder="Enter text"></ion-input>
          <ion-button (click)="loginUser()">Login</ion-button>
          <p>Noch kein konto
            <button (click)="redirectToRegister()" class="login-button">Registrieren</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</ion-content>
