<ion-toolbar class="toolbar-container" >
  <ion-title>Snus Shop</ion-title>
  <ion-buttons slot="primary">
    <ion-button (click)="redirectToHome()">
      <ion-icon name="home-outline"></ion-icon>
    </ion-button>
    <ion-button class="cart-button" (click)="redirectToCart()">
      <ion-icon name="cart-outline" class="desktop-icon"></ion-icon>
    </ion-button>
    <ion-button class="cart-button" (click)="redirectToCart()">
      <ion-icon name="cube-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
